body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  padding: 10px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}

.color-card-hightline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}